
.inline-block {
    display: inline-block;
}
.nav-tabs {
 float: left;
    width: 100%;
    margin: 0;
    list-style-type: none;
    border-bottom: 1px solid transparent;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.5;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    float: left;
    text-decoration: none;
}

.nav-tabs > li > a:hover {
    border-color: #eee #eee #eee ;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    color: #555;
    cursor: default;
    background-color: #fff;
    border-color: #ddd;
    border-bottom-color: transparent;
}

.tab-content > .tab-pane {
    float: left;
    width: 100%;
    display: none;
}

.tab-content > .tab-pane.active {
    display: block;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 5px 4px -2px rgba(0,0,0, 0.15);
}

/*custom table styling*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.mb-10{
    margin-bottom: 10px;
}